@import "pico.css";

html,
body {
    height: 100%;
}

/* Causes flexboxes to behave better */
* {
    min-width: 0px;
}

body {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

main {
    flex-grow: 1;
}

footer {
    text-align: center;
}

.warning {
    --color: var(--form-element-invalid-border-color) !important;
    color: var(--color);
}

.success {
    --color: var(--form-element-valid-border-color) !important;
    color: var(--color);
}

.secondary {
    --color: var(--secondary) !important;
    color: var(--color);
}

img.profile {
    max-width: 170px;
    max-height: 170px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.skeleton {
    position: relative;
    display: block;
    max-height: 25px; /* To account for the text not taking up the whole height */
    background: var(--color); /* Gets color assigned by theme */
    animation: loading 1.5s infinite;
    border-radius: 4px;
    margin-bottom: 4px;
    overflow: hidden;
}

.skeleton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0)
    );
    animation: gleam 1.5s infinite;
}

@keyframes gleam {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}


.chatbox {
    max-height: 60svh;
    overflow-y: auto;
}