/* 
This file is used for setting Global Styles.
Component specific classes are scoped to their respective components.
*/

@import "pico.css";

html,
body {
    height: 100%;
}

* {
    min-width: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 0.965;
}

footer {
    text-align: center;
}

.warning {
    --color: var(--pico-del-color) !important;
    color: var(--pico-color);
}

.success {
    --color: var(--pico-ins-color) !important;
    color: var(--pico-color);
}

.secondary {
    --color: var(--pico-secondary) !important;
    color: var(--pico-color);
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}